/* FONTS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700|Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800");
/* RESET - specificity (0,0,1) */

:root {
    --theme-color-red: #ff4486;
    --theme-header-link-bg-active: #444;
    --theme-header-link-bg-over: #FFF;
    --theme-header-link-color-active: #fff;
    --theme-header-link-color: #696969;
    --theme-button-color: #fff;
    --theme-button-background-color: #0090c5;
    --theme-font-size: 2.75em;
}

* {
    box-sizing: border-box;
}

html {}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* GLOBALS specificity (0,n,*) */
.homepage {
    background: #dee0e3;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.c-link {
    text-decoration: none;
    color: inherit
}

/* COMPONETS specificity (0,n,*) */
/* header */
.header {
    padding: 4.3rem 0 3rem;
}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper--brand {
    display: flex;
    gap: 15px;
    align-items: center;
}
/* .header__wrapper--navigation {} */
.header__brand {
    display: inline-flex;
    padding: 0.85rem 0.7rem;
    border-radius: 6px;
    background-color: var(--theme-color-red);
    color: #FFF;
    font-family: 'Oleo Script';
    font-size: 3.25rem;
    letter-spacing: 0.05em;
    margin: 0;
    line-height: 0.7;
}
.c-link {}
.header__nav {
    display: flex;
    gap: 1.5rem;
}
.header__link {
    border-radius: 6px;
    padding: 0.5rem 1.1rem;
    font-weight: bold;
    color: var(--theme-header-link-color);
}
.header__link:hover {
    background-color: var(--theme-header-link-bg-over);
}
.header__link--active:hover,
.header__link--active {
    background-color: var(--theme-header-link-bg-active);
    color: var(--theme-header-link-color-active);
}
.header__label {
    font-weight: bold;
    color: var(--theme-header-link-color);
}

/* starting */
.starting {}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    padding: 70px;
    box-shadow: 0 3px 0 0 rgba(0 , 0, 0, 0.05);
}
.hero__wrapper-text {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-size: 2.5em;
    width: 60%;
    padding: 40px 0 0 40px;
    margin: 0;
}

.hero__wrapper-text p,
.hero__wrapper-text h2 {
    margin: 0;
}
.hero__wrapper-text p {
    font-size: 47px;
}
.hero__wrapper-buttons {
    display: flex;
    flex-direction: column; 
    width: 40%;
    margin-bottom: 0.5em;
    font-weight: 800;   
    margin-bottom: 0;
    display: grid; 
    gap: 15px;
}
.button__ok {
    background-color: var(--theme-button-background-color);
    color: var(--theme-button-color);
    font-size: var(--theme-font-size);
    text-decoration: none;
    padding: 31px 35px;
    line-height: 1;
}
.button__more {
    background-color: #f7f7f7;
    color: #696969;    
    font-size: 2.5em;
    width: 100%;    
    text-decoration: none;
    margin-bottom: 0;
    padding: 31px 35px;
    line-height: 1;
}

/* presentation */

.presentation {
    padding: 50px;
}

.presentation__wrapper {    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
}

.presentation__img {
    background-color: #fff;
    display: block; 
    gap: 25px;
    padding: 0;
    max-width: 430px;
    border-radius: 6px;
    overflow: hidden;   
    margin-block-end: 24px;
    margin-block-start: 24px;
}

.presentation__img p {
    font-size: 17px;
    font-weight: 300; 
    padding: 0 35px;
    line-height: 2;
    margin-bottom: 50px;
}
.presentation__img h3 {
    font-size: 24px;
    padding: 0 35px;
    margin-top: 50px;
    margin-bottom: 0;
}

.presentation__img__1,
.presentation__img__2,
.presentation__img__3 {    
}
/* SPECIFICATIONS specificity (n,*,*) */